<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<!-- Fuente -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<!--  -->
		<!-- iconos -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
		/>
		<!--  -->
		<title>Talk Space</title>
	</head>
	<body>
		<%- include('partials/navbar') %>
		<main class="">
			<div class="containerChats">
				<section class="panelChats">
					<form id="searchUserForm">
						<input id="searchUserInput" type="email" name="email" placeholder="Busca o inicia una convesacion" />
						<button type="submit"><span class="material-symbols-outlined"> search </span></button>
					</form>
					<div class="containerAllChats">
						<h2>Chats</h2>
						<ul class="listAllChats">
							<li>
								<div class="listChat">
									<a href="">NOMBRE</a>
									<a href="">Ultimo mensaje</a>
								</div>
							</li>
							<li>
								<div class="listChat">
									<a href="">NOMBRE</a>
									<a href="">Ultimo mensaje</a>
								</div>
							</li>
							<li>
								<div class="listChat">
									<a href="">NOMBRE</a>
									<a href="">Ultimo mensaje</a>
								</div>
							</li>
							<li>
								<div class="listChat">
									<a href="">NOMBRE</a>
									<a href="">Ultimo mensaje</a>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<section class="containerChat">
					<div class="chatBox">
						<!-- <div class="chatMsg">
							<div class="userName">
								<h3>Jean</h3>
								<span class="dateMsg">22/08/2024</span>
							</div>
							<p>
								Mensajeoiasdaskdnaskjndjksandjksanlorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse
								numquam praesentium necessitatibus vel. Sapiente neque amet sed? Laboriosam voluptatem magnam
							</p>
						</div>
						 -->
					</div>

					<div class="containerKeyboardChat">
						<form id="chatForm">
							<input id="chatInput" type="text" name="content" placeholder="Escribe un mensaje" autocomplete="off" />
							<button type="submit"><span class="material-symbols-outlined"> send </span></button>
						</form>
					</div>
				</section>
			</div>
		</main>
		<script src="js/chat/ioChat.js" type="module"></script>
	</body>
</html>
