<header>
	<nav class="navbar">
		<ul>
			<li>
				<a href="#"><span class="material-symbols-outlined"> chat </span></a>
			</li>
			<li>
				<a href="#"><span class="material-symbols-outlined"> groups </span></a>
			</li>
			<li>
				<a href="#"><span class="material-symbols-outlined"> manage_accounts </span></a>
			</li>
			<li>
				<a href="#"><span class="material-symbols-outlined"> login </span></a>
			</li>
		</ul>
		<div class="navbarLogo">
			<a href="#">T</a>
			<a href="#">A</a>
			<a href="#">L</a>
			<a href="#">K</a>
			<a href="#">S</a>
			<a href="#">P</a>
			<a href="#">A</a>
			<a href="#">C</a>
			<a href="#">E</a>
		</div>
	</nav>
</header>
