*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

:root {
	--background-blue: #1c3659;
	--background-linear: linear-gradient(90deg, rgb(123, 23, 23) 0%, rgba(66, 71, 204, 1) 99%);
	--background-purple: rgba(66, 71, 204, 1);
	--background-red: rgb(123, 23, 23);
}

/* FORMULARIOS                          */
body {
	display: grid;
	grid-template-columns: auto 1fr;
	height: 100dvh;
	max-height: 100vh;
}

main {
	height: 100dvh;
	max-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--background-color);
	background: var(--background-linear);
	transition: 1s;
}

/* Navbar component */
header {
	background-color: #000;
}

.navbar {
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	padding: 50px 30px;
}

.navbarLogo a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

.navbar ul {
	height: 40%;
}

.navbar ul a {
	color: #fff;
	text-decoration: none;
}

.navbar ul a span {
	background-color: var(--background-purple);
	font-size: 1.5rem;
	padding: 15px;
	border-radius: 100%;
	margin-bottom: 10px;
}

.navbar ul a span:hover {
	background-color: var(--background-red);
}

@media screen and (max-width: 1600px) {
	.navbarLogo a {
		font-size: 1.2rem;
	}

	.navbar ul a span {
		font-size: 1.5rem;
		padding: 10px;
	}
}
/* -------------- */

.container {
	position: relative;
	width: 800px;
	height: 400px;
	background-color: rgba(0, 0, 0, 0.125);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .box {
	position: relative;
	width: 50%;
	height: 100%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
}

.container .box h2 {
	color: #fff;
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 10px;
}

.container .box button {
	cursor: pointer;
	padding: 10px 20px;
	background-color: #fff;
	color: #333;
	font-size: 16px;
	font-weight: 500;
	border: none;
	outline: none;
}

.container .box button:hover {
	background-color: rgba(66, 71, 204, 1);
	color: #fff;
}

.formBx {
	position: absolute;
	left: 50px;
	width: 400px;
	height: 520px;
	background-color: #fff;
	z-index: 20;
	box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.5);
	transition: 0.5s;
	transition-delay: 0.5s;
	overflow: hidden;
}

.slide .formBx {
	left: 400px;
}

.formBx .form {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	background-color: #fff;
}

.formBx .form.signupform {
	top: 100%;
	transition-delay: 0s;
}

.slide .formBx .form.signupform {
	top: 0;
	transition-delay: 0.5s;
}

.formBx .form.signinform {
	top: 0%;
	transition-delay: 0.5s;
}

.slide .formBx .form.signinform {
	top: -100%;
	transition-delay: 0s;
}

.formBx .form form {
	display: flex;
	flex-direction: column;
	padding: 0 30px;
	width: 100%;
	align-items: center;
}

.formBx .form form h3 {
	font-size: 1.5rem;
	color: #333;
	font-weight: 600;
	text-align: center;
}

.formBx .form form input {
	width: 100%;
	padding: 10px;
	outline: none;
	border: none;
	font-size: 0.9rem;
}

.formBx .form form input[type="submit"] {
	margin-top: 20px;
	font-weight: 600;
	width: 150px;
	background-color: var(--background-blue);
	color: #fff;
	cursor: pointer;
}

.formBx .form form input[type="submit"]:hover {
	background-color: #315583;
}

.formsIcons {
	display: flex;
	align-items: center;
	height: 100%;
	width: 80%;
	border-bottom: 1px solid #333;
	padding: 5px 10px;
	margin-top: 20px;
}

/* .formsIcons span {
	border-right: 1px solid #000;
	padding-right: 10px;
	color: ;
} */

.forgot {
	color: #000;
	font-size: 0.8rem;
	margin-top: 10px;
}

.forgot:hover {
	color: red;
}

/* -------------------------------------------- */

/* MENSAJES DE ERROR O CORRECTO FORMULARIO */

.errorMsgLogin,
.errorMsgRegister,
#errorPostUser,
#errorLoginUser {
	font-size: 0.8rem;
	color: red;
}

/*---------------------------------------  */

.modalSucces {
	position: absolute;
	top: 5%;
	z-index: 30;
	background-color: #fff;
	opacity: 90%;
	width: 350px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	color: var(--background-purple);
	transition: 0.5s;
}

.modalSucces span {
	margin: 0 5px;
}

.disabled {
	top: -100%;
}

/* CHAT------------- */

.containerChats {
	/* background-color: #000; */
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 30% 70%;
}

.containerChats .panelChats {
	background-color: #fff;
	padding: 30px;
}

.listAllChats li {
	background-color: #fff;
	margin-top: 10px;
	list-style: none;
}

.listAllChats li a {
	text-decoration: none;
	font-size: 1.2rem;
	color: #333;
}

.listChat {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #000;
}

.containerChat {
	background-color: var(--background-linear);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	overflow-y: hidden;
}

.chatBox {
	padding: 80px 100px;
	overflow-y: auto;
	color: #fff;
	display: grid;
	grid-template-columns: 1fr;
}

.chatMsg {
	/* background-color: #fff; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}

.chatMsg p {
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
}

.userName {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
}

.dateMsg {
	margin-left: 20px;
	font-size: 0.8rem;
}

/* teclado para mandar mensajes */

.containerKeyboardChat {
	width: 100%;
	background-color: #000;
	padding: 20px 100px;
}

#chatForm {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#chatForm input {
	width: 90%;
	border-radius: 20px;
	padding: 15px 30px;
	font-size: 1.2rem;
	border: none;
	outline: none;
}

#chatForm button {
	background-color: #000;
	border: none;
	cursor: pointer;
}

#chatForm button span {
	/* color: var(--background-purple); */
	color: #fff;
	font-size: 4rem;
}
